<div>
    <ul class="navbar">
        <li class="button round_white_border" id="home">Home</li>
        <li class="button round_white_border" id="discover">Discover</li>
        <li class="button round_white_border" id="surreal">Surreal</li>
    </ul>
</div>