<div>
    <ul class="navbar">
        <a href="/" style="text-decoration: none;">
            <li class="button round_white_border">Home</li>
        </a>
        <a href="/discover" style="text-decoration: none;">
            <li class="button round_white_border">Discover</li>
        </a>
        <a href="/surreal" style="text-decoration: none;">
            <li class="button round_white_border">Surreal</li>
        </a>
    </ul>
</div>