<%- include('./partials/head.ejs') %>
<div class="seconddiv">
    <%- include('./partials/navbar.ejs') %>
    <div class="textWrapper">
        <span> Discover </span>
    </div>
    <div class="cardWrapper">
        <a href="/discover/fukuoka">
            <div class="card"> 
                <img class="image" src="/images/fukuoka.jpg">
                <span class="child1"> Fukuoka </span>
                <span class="child2"> The City of Sea and Breeze </span>
                <div class="child3"></div>
            </div>
        </a>
        <a href="/discover/paris">
            <div class="card">
                <img class="image" src="/images/paris.jpeg">
                <span class="child1"> Paris </span>
                <span class="child2"> The Romance Capital of Europe </span>
                <div class="child3"></div>
            </div>
        </a>
        <a href="/discover/kyoto">
            <div class="card">
                <img class="image" src="/images/kyoto.jpg">
                <span class="child1"> Kyoto </span>
                <span class="child2"> The City of Shrines </span>
                <div class="child3"></div>
            </div>
        </a>
    </div>
</div>
<%- include('./partials/end.ejs') %>