<%- include('./partials/head.ejs') %>
<div class="thirddiv" >
    <div class="textWrapper">
        <header>
            <span> Surrealism </span>
        </header>
        <span class="sub3-1" id="sub3-1">
            She discovered the world where dreams defy gravity 
        </span>
    </div>
    <div class="gridWrapper">
        <div class="contentWrapper3">
            <div class="card3"> 
                <img class="image3-1" src="/images/emily.jpg">
                <div class="child3-1"> </div>
                <span class="child3-2">Lonely <span style="font-weight: bolder;">Emily</span></span>
                <span class="child3-3">
                    <div style="text-align: center;">
                        The shattered mirror reflects her heart
                    </div>
                </span>
            </div>
            <div class="card3">
                <img class="image3-1" src="/images/Aurora.jpg">
                <div class="child3-1"> </div>
                <span class="child3-2">Dear <span style="font-weight: bolder;">Aurora</span></span>
                <span class="child3-3">
                    <div style="text-align: center;">
                        She dances through life with a whimsical grace
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="textWrapper" style="font-size: medium; letter-spacing: normal;">
        <span> In a realm far beyond the boundaries, there existed a world unlike any other </span>
    </div>
    <div class="gridWrapper">
        <div class="contentWrapper3">
            <div class="card3"> 
                <img class="image3-2" src="/images/Eliana.jpg">
                <span class="child3-4">Surreal <span style="font-weight: bolder;">Eliana</span></span>
                <div class="child3-5 child3-5-1"> </div>
                <div class="child3-5 child3-5-2"> </div>
                <span class="child3-6">
                    <div style="text-align: center;">
                        Eliana's existance blurred the lines between fantasy and reality, existing in a realm of her creation
                    </div>
                </span>
                <div class="child3-7"></div>
            </div>
            <div class="card3">
                <img class="image3-3" src="/images/Luna.jpg">
                <div class="child3-8">
                    <span class="child3-9">Enigmatic <span style="font-weight: bolder;">Luna</span></span>
                    <div>
                        <div class="child3-10 child3-10-1">
                            <span> Keeper of timeless secrets </span>
                        </div>
                        <div class="child3-10 child3-10-2">
                            <span> Her whispers unveiled tales from forgotten worlds </span>
                        </div>
                        <div class="child3-10 child3-10-3">
                            <span> transcending the boundries of time itself </span>
                        </div>
                    </div>
                </div>
                <div class="child3-7" style="background-color: rgba(0,0,0,0.4);"> </div>
            </div>
        </div>
    </div>
    <div class="textWrapper">
        <a style="text-decoration: none;" href="/">
            <button class="button round_white_border"> Go Back </button>
        </a>
    </div>
</div>
<script src="/js/surreal.js"> </script>