<%- include('./partials/head.ejs') %>
<div class="thirddiv" >
    <div class="textWrapper">
        <header>
            <span> Surrealism </span>
        </header>
        <span class="sub3-1" id="sub3-1">
            She discovered the world where dreams defy gravity 
        </span>
    </div>
    <div class="gridWrapper">
        <div class="contentWrapper3">
            <div class="card3"> 
                <img src="/images/emily.jpg">
                <div class="child3-1"> </div>
                <span class="child3-2">Lonely Emily</span>
            </div>
            <div class="card3">
                
            </div>
        </div>
    </div>
</div>
<script src="/js/surreal.js"> </script>